// Include this if using an Icon Font
// import generated/icons
@import 'nib'

@import 'generated/icons'

body
	font-family 'Open Sans', Arial, sans-serif
	margin 0

a
	text-decoration none
	transition color 100ms ease-in-out, background 100ms ease-in-out

ul,
ul li
	margin 0
	padding 0
	list-style none
